<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <b>About me</b>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div class="container margin-md">
	<div class="u-text-center">
		<ul class="skills">		
			<h5>Skills:</h5>
			<li><i class="devicon-html5-plain-wordmark colored"></i></li>
			<li><i class="devicon-css3-plain-wordmark colored"></i></li>
			<li><i class="devicon-sass-original colored"></i></li>
			<li><i class="devicon-javascript-plain colored"></i></li>
			<li><i class="devicon-jquery-plain-wordmark colored"></i></li>		
			<li><i class="devicon-rails-plain-wordmark colored"></i></li>
			<li><i class="devicon-photoshop-plain colored"></i></li>
			<li><i class="devicon-illustrator-plain colored"></i></li>
			<li><i class="devicon-foundation-plain colored"></i></li>
			<li><i class="devicon-bootstrap-plain colored"></i></li>
			<li><i class="devicon-git-plain colored"></i></li>
			<li><i class="devicon-vim-plain colored"></i></li>
			<li><i class="devicon-trello-plain colored"></i></li>
			<li><i class="devicon-apple-original colored"></i></li>
			<li><i class="devicon-ubuntu-plain colored"></i></li>
		</ul>
	</div>
	<div class="row l-about-body">
		<p>
			For over three years I have been building fully responsive web interfaces using html, css, and javascript. I can code pixel perfect representations of virtually any design. I have extensive experience in SASS and use it to its fullest extent to maximize my speed and overall code quality. I prioritize code cleanliness and reusability on every line of SCSS I write. Everything I code is responsive. I build mobile first, and design everything to adapt to a user’s screen size. This way every user gets a pleasant and optimized experience.
		</p>
		<p>
			I also have experience working with javascript. Mostly DOM manipulative libraries like Jquery. I have some experience working in AngularJS environments as well as python/django, and numerous Rails apps. 
		</p>
		<p>
			I have over three years of experience working as a UI/UX designer within a team of up to four. I have a strong understanding of UX principles and design patterns. I have a keen attention to detail, and an eye for design. I believe good software has to be more than just pretty. I design user interfaces that are easy to understand, and as enjoyable as possible. I know how to work as a team, and how to design collaboratively. I understand that good communication with both team members and the client is extremely crucial, especially in an agile environment. I have experience building design guides for clients. These design guides include wireframes, mockups, style tiles, and sitemaps. To accomplish this I've used tools including but not limited to Photoshop, Illustrator, Affinity Designer, Various wireframe tools, and of course the trusty pen and paper. Sticking up to date with modern trends is crucial so I can continue to offer products built with the latest innovations in design.
		</p>
		<p>
			Demonstrating professional and strong communication is essential for a productive work environment. I know that this must extend beyond just my fellow team members but also to my clients. As a designer and developer time is everything. I recognize that it is of the utmost importance to consistently meet the expectations of the client. I stay in close communication with them to ensure products are delivered as expected. Being able to balance multiple projects at once is essential to being a good developer. This I am no stranger to. I hunker down under pressure and deliver on time.
		</p>
		<p>
			I have experience working on both Ubuntu and Mac OS. I’ve been using version control solutions like git for years now and have a strong understanding of how they integrate into a healthy work flow.
		</p>
		<p>
			In addition to design and developer skills I am no stranger to marketing. My work has included building landing pages built around specific marketing based call to actions. I have built email templates. I have dealt with tools such as and not limited to: Mail Chimp, Google Ad Words, Google Analytics, and Constant Contact. I hold my sites search ranking to a high standard. Making sure my code is SEO friendly is critical. Whenever I make a design decision I want it to be backed by data found through testing or analytic tools.
		</p>
		<p>
			Everything I know is self taught. One of the strongest traits of a developer is knowing how to grow and seek out additional knowledge on your own. Every project is full of learning experiences. It’s a good developers responsibility to capitalize on these learning opportunities whenever they come by. I am never satisfied not growing in my knowledge. My latest point of interest in my learning is Ruby on Rails. As I learn more about Rails my skill set broadens making me more and more like a full stack developer.
		</p>
		<p>
			<%= link_to 'Return home', root_path %>
		</p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	$(window).scroll(function(e) {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	function parallax(){
	  if( $("#js-parallax-window").length > 0 ) {
	    var plxBackground = $("#js-parallax-background");
	    var plxWindow = $("#js-parallax-window");

	    var plxWindowTopToPageTop = $(plxWindow).offset().top;
	    var windowTopToPageTop = $(window).scrollTop();
	    var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

	    var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
	    var windowInnerHeight = window.innerHeight;
	    var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
	    var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
	    var plxSpeed = 0.35;

	    plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
	  }
	}

</script>