<div class="container margin-lg u-text-center">
	<h1 class="page-title centered">Contact Jeremy</h1>
	<p>
		Message Recieved :) Thank you contacting me.
	</p>
	<%= link_to 'Return Home', root_path, class: 'u-button' %>
</div>