<div class="article-title">
	<h1 class="page-title">View all Projects</h1>
</div>


<div class="container margin-sm">
	<% @projects.each do |project| %>
		<%= link_to project, :class=>'m-posts-index' do %>
			<h4 class="u-title">
				<%= project.title %>
			</h4>			
			<h5 class="u-date"><%= project.link %></h5>
			<p><%= truncate(project.description, :length=>140) %></p>
		<% end %>
	<% end %>
</div>