<div class="article-title">
	<h1 class="page-title">Thoughts</h1>
</div>

<div class="container margin-sm">
	<% @posts.each do |post| %>
		<%= link_to post, :class=>'m-item-index' do %>
			<h4 class="u-title">
				<%= post.title %>
			</h4>
			<h5 class="u-date"><%= post.created_at.strftime('%A, %b %d') %></h5>
		<% end %>
	<% end %>
</div>