html {
	font-size: 62.5%;
}

body {
	font-family:'Raleway', arial, sans-serif;
	background: #fefefe;
}

h1, h2, h3, h4, h5 {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 700;
	a {
		color: #333;
		&:hover, &:active, &:focus {
			color: $blue;
		}
	}
}

img {
	max-width: 100%;
}

#content {
	opacity: 0;
	@media (min-width:991px) {
		min-height: 500px;
	}
}

.markdown-body {
	& > *:first-child {
		margin-top: 0;
	}
	h1, h2, h3 {
		margin-top: 65px;
		font-weight: 300;
		letter-spacing: 0;
		text-transform: none;
	}
	h4, h5 {
		margin-top: 45px;
		letter-spacing: 0.05em;
	}
}

a {
	color: $blue;
	transition: all 0.2s ease-out;
	&:hover, &:active, &:focus {
		color: $blue;
		text-decoration: none;
		p {
			color: #333;
		}
	}
}

nav {
	background: $yellow;
	line-height: 45px;
	.container {
		position: relative;
	}
	.sub-nav {
		float: right;
		display: inline-block;
		line-height: 50px;
		margin-right: 15px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-size:1.4rem;
		a {
			display: inline-block;
			float: right;
			color: #333;
			padding: 0 12px;
			&:hover, &:active, &:focus {
				text-decoration: none;
				color: #000;
			}
		}
		@media (max-width:660px) {
			background: rgba(0,0,0,0.1);
			box-shadow:0 1px rgba(0,0,0,0.1) inset;
			width: 100%;
			margin: 0;
			text-align: center;
			float: none;
			font-size: 1.4rem;
			a {
				float: none;
			}
		}
	}
	a {
		color: #fff;
		display: inline-block;
		transition: all 0.2s ease-out;
		font-weight: bold;
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: rgba(250,250,250,0.85);
		}
	}
	.site-id {
		text-transform: uppercase;		
		padding: 0 15px;
		color: $brown;
		letter-spacing: 0.15em;
		position: relative;
		line-height: 50px;
		box-sizing: border-box;
		font-size: 1.4rem;
		height: 50px;
		transition: background 0.2s ease-out;
		&:hover, &:active, &:focus {
			text-decoration: none;
			color: lighten($brown, 6);
			background: rgba(250,250,250,0.4);
		}
	}
	.u-button {
		float: right;
		background: none;
		color: #333;
		margin-right: 0;
		box-shadow: none;
		&:hover, &:active, &:focus {
			box-shadow: none;
			color: #333;
			background: rgba(250,250,250,0.4);
		}
	}
	@media (max-width:990px) {
		.container {
			max-width: none;
			width: 100%;
			padding: 0;
		}
		.u-button {
			span {
				display: none;
			}
		}
	}
	@media (min-width:991px) {
		padding: 40px 0;
		.u-button {
			background: $blue;
			color: #fff;
			box-shadow:0 4px 8px rgba(0,0,0,0.1);
			i {
				display: none;
			}
			&:hover, &:active, &:focus {
				box-shadow:0 6px 12px rgba(0,0,0,0.15);
				background: lighten($blue, 5);
				box-shadow:0 6px 12px rgba(0,0,0,0.2);
				color: #fff;
			}
		}		
		.site-id {
			padding: 0 30px;
			height: 100%;
			box-shadow: 0 0 0 2px $brown inset;
			&:hover, &:active, &:focus {
				background: $brown;
				color: #fff;
			}
		}
	}
}

footer {
	background-color: #eee;
	border-top:1px solid #ddd;
	color: #fff;
	padding: 45px 0;
	ul {
		list-style-type: none;
		margin:0 0 15px 0;
		padding:0;
		li {
			display: inline-block;
			margin: 0;
		}
		a {
			color: rgba(0,0,0,0.3);
			font-size: 3.2rem;
			transition: color 0.3s;
			&:hover {
				color: $blue;
			}
		}
	}
	p {
		color: rgba(0,0,0,0.6);
		font-size: 1.2rem;
	}
	h5 {
		color: rgba(0,0,0,0.8);
		margin: 0 0 10px 0;
		font-size: 1.8rem;
		letter-spacing: 0.05em;
	}
}

.admin-nav {
	background: #333;
	line-height: 24px;
	font-size:1.2rem;
	&:before {
		content:"Admin:";
		display: inline-block;
		color: #fff;
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		float: left;
		padding: 0 15px;
	}
	a {
		color: #fff;
		padding: 0 15px;
		display: inline-block;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
}

.notice, .alert {
	background: $blue;
	margin: 0;
	text-align: center;
	color: #fff;
	line-height: 36px;
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
	transition: all 0.4s ease-in-out;
  opacity: 1 !important;
	&.body {
		transition: all 0.8s ease-in-out;
	}
}

form {
	display: block;
	max-width: 720px;
	margin: 0 auto;
}

label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
}

input[type="checkbox"] {
	margin-right: 5px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	border: 1px solid #ddd;
	display: block;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	padding: 10px;
	margin-bottom: 15px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
	-webkit-appearance: none;
	border-color: $blue;
}

textarea {
	min-height: 400px;
	max-width: 100%;
}

input[type="submit"] {
	width: auto;
	display:inline-block;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	background: $blue;
	transition: all 0.2s ease-out;
	letter-spacing:0.2em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 50px;
	border: 0;
	&:hover, &:active, &:focus {
		background: lighten($blue, 5);
		color: #fff;
	}
}

.hero {
	background: $yellow;
	padding: 25px 0;
	h1 {
		font-size: 24px;
		text-align: center;
		line-height: 1;
		margin: 0;
	}
	@media (min-width:991px) {
		padding: 75px 0 35px 0;
		h1 {
			font-size: 36px;
		}
	}
}

.page-title {
	font-size: 32px;
	margin: 0 0 35px 0;
	line-height: 1;
	&.centered {
		text-align: center;
		font-size: 24px;
	}
}

.article-title {
	color: #fff;
	text-align: center;
	background: $brown;
	padding: 35px 0;
	h1 {
		margin: 0;
		font-size: 28px;
	}
	.u-date {
		color: #fff;
		margin-bottom: 15px;
	}
	h5 {
		margin: 15px 0 0 0;
	}
	a {
		color: #fff;
		&:hover, &:active, &:focus {
			color: #fff;
		}
	}
}

.u-button {
	display:inline-block;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	background: $blue;
	letter-spacing:0.2em;
	text-transform: uppercase;
	font-weight: 700;
	font-size:1.4rem;
	transition: all 0.2s ease-out;
	line-height: 50px;
	margin-right: 5px;
	box-shadow:0 4px 8px rgba(0,0,0,0.1);
	&:hover, &:active, &:focus {
		background: lighten($blue, 5);
		box-shadow:0 6px 12px rgba(0,0,0,0.2);
		color: #fff;
	}
	&.u-button-grey {
		background-color: #eee;
		color: #333;
		&:hover, &:active, &:focus {
			color: #333;
			background-color: #ddd;
		}
	}
}

.u-title {
	font-size: 16px;
}

.u-text-center {
	text-align: center;
}

.u-date {
	color: #777;
	font-weight: 300;
	font-size:1.2rem;
	margin-bottom: 25px;
}

.m-controls {
	text-align: center;
	padding-top: 35px;
	margin-top: 35px;
	border-top: 1px solid #ddd;
}

.m-item-index {
	text-align: center;
	color: #333;
	padding: 25px 0;
	display: block;
	position:relative;
	h4 {
		margin-top: 0;
	}
	h5 {
		margin-bottom: 0;
	}
	&:hover, &:active, &:focus {
		color: #333;
		h4 {
			color: $blue;
		}
		h5 {
			color: #333;
		}
	}
	&:after {
		content:"";
		display: block;
		width: 50%;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -25%;
		background: #eee;
	}
	&:last-of-type:after {
		display: none;
	}
	@media (min-width:991px) {
		padding: 45px 0;
	}
}

$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 1.2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #fff;
  padding: 8.5em 0;
  position: relative;
  z-index: 9;
  font-size: 24px;
  opacity: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.parallax-background {
  background: image-url("me.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}
